
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(imagenes/imag3.jpg);
}

h1 {
    color: #333;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 800px;
}

p {
    color: #555;
    font-size: 1.1em;
    text-align: center;
    max-width: 800px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    resize: vertical;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.progress-section {
    margin-top: 20px;
}

.progress-section h2 {
    margin-bottom: 10px;
    color: #333;
}

.progress-list {
    list-style-type: none;
    padding: 0;
}

.progress-list li {
    background-color: #e9e9e9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-list li p {
    margin: 0;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

.status.in-progress {
    background-color: #ff9800;
    color: white;
}

.status.completed {
    background-color: #4caf50;
    color: white;
}
#proposalListText {
    color: #cf1010; /* Cambia el color del texto aquí */
}